
#smiley {
  float: right;
  margin-top: -3vh;
  height: 15vh;
  width: auto;
}

#cute {
  float: left;
  margin-top: -3vh;
  height: 15vh;
  width: auto;
}

#title {
  margin-top: 0;
  color: gold;
  background-color: #804000;
  padding: 3vh;
}

#title h1 {
  font-size: 4em;
}

#newGame {
 display: table;
 vertical-align: middle;
}

#newGame form {
  /*margin: 0;*/
  position: absolute;
  top: 50%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-50%, -50%);
}

#gamePlay {
  display: none;
}

#gamePlay .dice {
  border: solid black;
  height: 20vh;
  width: 20vh;
}


#roll, #hold {
  bottom: 10px;
  position: absolute;
}

#roll {
  left: 20%;
}

#hold {
  left: 55%;
}

.currentTurn {
  float:right;
}

.roll {
  font-size: 100px;
}

#doh {
  display: none;
  color: red;
  font-size: 5vh;
  font-style: italic;
}

#congrats {
 /*display: table;*/
 vertical-align: middle;
 display: none;
  /*margin: 0;*/
  position: absolute;
  top: 60%;
  left: 50%;
  /*margin-right: -50%;*/
  transform: translate(-50%, -50%);
  color: hotpink;
}

#continue {
  margin-left: 50%;
  margin-top: 1vh;
}
